.cache/
.env
.firecrawl/
.sandbox/
.openbox/
.volumes/
.vscode/*
.DS_Store

!.vscode/extensions.json
data/
node_modules/
notebooks/.*

# Python
.mypy_cache
.pytest_cache/
.ruff_cache/
.venv/
*.pyc
**/__pycache__/
